.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 77%;
  height: 152px;
  background: #ffffff;
  box-shadow: 10px 20px 0px rgba(160, 201, 201, 0.11);
  border-radius: 4px;
  margin-bottom: 20px;
}
.filter {
  height: fit-content;
}
.info {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.rec {
  position: absolute;
  width: 6px;
  height: 152px;
  left: 0px;
  top: 0px;
  background: #5ca3a3;
}
.logo {
  padding-left: 10%;
  padding-right: 5%;
  width: 88px;
  height: 88px;
}
.text {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 15px;
  margin-bottom: 15px;
}
.top {
  display: flex;
  align-items: center;
}
.company {
  margin-right: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #5ca3a3;
}
.new {
  background: #5ca3a3;
  width: 51px;
  margin-right: 10px;
}
.feature {
  background: #333333;
  width: 79px;
}
.status {
  color: white;
  height: 24px;
  font-weight: 800;
  font-size: 11px;
  line-height: 12px;
  display: grid;
  place-items: center;
  border-radius: 100px;
}
.position {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  color: #333333;
}
.position:active {
  color: #5ca3a3;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: champ(10px, 100%);
  width: fit-content;
}
p {
  font-size: 14px;
  line-height: 11px;
  margin-right: 10px;
  width: max-content;
  color: hsl(180, 14%, 20%);
}
.right {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  margin-left: 50px;
}
.tag {
  background: #ecf9f9;
  border-radius: 4px;
  padding: 7px;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  color: #5ca3a3;
  margin-left: 10px;
}
.tag:active {
  background-color: #5ca3a3;
  color: #ecf9f9;
}

@media all and (max-width: 500px) {
  .wrapper {
    position: relative;
    display: block;
    overflow-y: visible;
    width: 86.4%;
    height: 258px;
    margin-bottom: 40px;
  }
  .filter {
    height: fit-content;
  }
  .info {
    display: block;
    margin: auto;
    padding: 0;
    margin-top: 32px;
    padding-bottom: 23px;
    width: 85%;
    height: 40%;
    border-bottom: 1px solid hsl(180, 14%, 20%);
  }
  .rec {
    position: absolute;
    width: 6px;
    height: 152px;
    height: 258px;
    left: 0px;
    top: 0px;
    background: #5ca3a3;
  }
  .logo {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 23px;
    top: -24px;
    padding: 0;
    margin: 0;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0;
  }
  .top {
    display: flex;
    align-items: center;
  }
  .company {
    margin-right: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #5ca3a3;
  }
  .new {
    background: #5ca3a3;
    width: 51px;
    margin-right: 10px;
  }
  .feature {
    background: #333333;
    width: 79px;
  }
  .status {
    color: white;
    height: 24px;
    font-weight: 800;
    font-size: 11px;
    line-height: 12px;
    display: grid;
    place-items: center;
    border-radius: 100px;
  }
  .position {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: #333333;
  }
  .position:active {
    color: #5ca3a3;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: champ(10px, 100%);
    width: fit-content;
  }
  p {
    font-size: 14px;
    line-height: 11px;
    margin-right: 10px;
    width: max-content;
    color: hsl(180, 14%, 20%);
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /* margin: auto; */
    padding: 0;
    margin-top: 13px;
    padding-bottom: 23px;
    padding-left: 5%;
    width: 86%;
  }
  .tag {
    background: #ecf9f9;
    margin-top: 10px;
    border-radius: 4px;
    padding: 7px;
    font-weight: 800;
    font-size: 13px;
    line-height: 15px;
    color: #5ca3a3;
    margin-left: 10px;
  }
  .tag:active {
    background-color: #5ca3a3;
    color: #ecf9f9;
  }
}
